@import "../../App.scss";


footer{
    background-color:$color1;
}
// .bottom{
//     border-top: 1px solid #c3cbce;
// }
a{    
    color: white;
}
.contact{
    position: relative;
    left:5%;
}
.input-group-text .button{
    position: relative;
    top: 10%;
}
