@import "../../App.scss";

.blog-card{
    background-color: $color2;
    padding: 20px;
    border-radius: 10px;
    
    img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .blog content{
        padding: 15px;
        p .date{
            font-size:13px;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 0;
            font-weight: 400;
            color: $color5;
            padding:0;
         }
        h5{
            font-size:18px;
            color: $color6;
        }
        p .desc{
            font-size: 13px;
            line-height: 22px;
            color: $color5;
        }
    }
}
